#header {
  height: 400px;
  width: 100%;
  justify-content: center;
  background-color: #00238c;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
