.container {
  width: 90%;
  margin: 0 auto;
  background-color:rgb(245, 245, 245)
}

.new-tweet {
  height: 180px;
  padding-bottom: 20px;
}

#tweet-text {
  border: none;
  border-bottom: 2px solid #545149;
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 5px;
}

.submit-section {
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  font-family: 'Bungee', cursive;
  color: #ffffff;
  background-color: #4056A1;
}

.counter {
  font-family: 'Bungee', cursive;
}

.error {
  color: red;
  background-color:rgb(227, 172, 172);
  font-family: 'Bungee', cursive;
  border: 1px solid red;
  display: none;
}

.exceeded-error {
  color: red;
  background-color: rgb(227, 172, 172);
  font-family: 'Bungee', cursive;
  border: 1px solid red;
  display: none
}

article:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.tweet-text {
  border-bottom: 1px solid rgb(65, 65, 65);
  padding: 5px;
}

#tweets-container {
  padding-top: 20px
}