article {
  margin: 25px;
  background-color: rgb(205, 205, 205);
  border: 2px solid black;
  justify-content: center;
}

footer {
  display: flex; 
  justify-content: space-between;
  padding: 5px;
}

.body-container {
  padding: 30px;
}

.handle {
  float: right;
  padding: 5px;
}

h3 {
  padding: 2px;
}

#avatars {
  padding: 5px;
}