article {
  margin: 25px;
  background-color: rgb(205, 205, 205);
  border: 2px solid black;
  justify-content: center;
}

footer {
  display: flex; 
  justify-content: space-between;
  padding: 5px;
}

.body-container {
  padding: 30px;
}

.handle {
  float: right;
  padding: 5px;
  color: #4056A1;
  opacity: 0.5
}

h3 {
  padding: 2px;
}

#avatars {
  padding: 5px;
}

.icons {
  color: #4056A1;
}

#icon1:hover {
  color:rgb(103, 246, 254);
}

#icon2:hover {
  color:rgb(103, 246, 254);
}

#icon3:hover {
  color:rgb(103, 246, 254);
}